<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>
  <head>
 <div id="header">
  <ul id=top_menu>
    <li><a href="#">О компании</a></li>
    <li><a href="#">Услуги</a>
      <ul class="inner_menu">
        <li><a href="#">Отремонтируем</a></li>
        <li><a href="#">Починим</a></li>
        <li><a href="#">Наладим</a></li>
      </ul>
    </li>
    <li><a href="#">Товары</a>
      <ul class="inner_menu">
        <li><a href="#">Медиацентры</a></li>
        <li><a href="#">Музыкальные центры</a></li>
        <li><a href="#">Кассетные магнитофоны</a></li>
        <li><a href="#">Бабинные магнитофоны</a></li>
        <li><a href="#">Граммофоны</a></li>
      </ul>
    </li>
    <li><a href="#">Популярные вопросы</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</div>
</head>

<body>


        
  </body>
</html>
