<!--Листинг 3.20. Представление для Home страницы с полной HTML структурой.Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erbapp/views/static_pages/home.html.erbЛистинг 3.27. Home страница с удаленной HTML структурой.app/views/static_pages/home.html.erb Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb Листинг 4.5. Home страница без кастомного заголовка страницы.
app/views/static_pages/home.html.erb 
Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb 
-->
<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby </title>
  </head>
  <body>
  <h1>Sample App</h1>
  <!--    <p>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>   -->
  </body>
</html>
