<!--Листинг 3.20. Представление для Home страницы с полной HTML структурой.Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erbapp/views/static_pages/home.html.erbЛистинг 3.27. Home страница с удаленной HTML структурой.app/views/static_pages/home.html.erb Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb Листинг 4.5. Home страница без кастомного заголовка страницы.
app/views/static_pages/home.html.erb 
Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb   <% provide(:title, "Home") %>
-->

<!DOCTYPE html>
<html>
   <head>
 <div id="header">
  <ul id=top_menu>
    <li><a href="#">О компании</a></li>
    <li><a href="#">Услуги</a></li>
    <li><a href="#">Товары</a></li>
    <li><a href="#">Популярные вопросы</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</div>
</head>
<body>
  </body>
</html>
