<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<nav class="navbar navbar-expand-sm navbar-dark" style="background: coral;">  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" 
    aria-controlscd /home/sfw/Documents/2021/ch0323
Применить <div>="nav-content" aria-expanded="false" aria-label="Переключатель навигации">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Бренд -->
  <a class="navbar-brand" href="#">Логотип</a>
  <!-- Ссылки -->
  <div class="collapse navbar-collapse" id="nav-content"> 
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Ссылка 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ссылка 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ссылка 3</a>
      </li>
    </ul>
  </div>
</nav>
