/*Листинг 5.13: Добавление CSS для подвала сайта. app/assets/stylesheets/custom.css.scss */

@import "bootstrap-sprockets";
@import "bootstrap";

/*============================2024 April 11==========================*/
#header{
  background-color: #aaf0d1; //магическая мята
  border-bottom: 1px solid gray; 
  text-align: center;
}
#top_menu{
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;  
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  transition: background-color 0.25s, color 0.15s;
}
#top_menu > li > a:hover{
  color: white;
  background-color: #a7fc00; // весенний бутон  
}



/*============================2024 April 10==========================*/
/* universal background-color: Gainsboro blue;  blue  yellow*/

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
