/*Листинг 5.13: Добавление CSS для подвала сайта. app/assets/stylesheets/custom.css.scss */

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
 margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;  //линия перед head
  //color: blue; для всех body!
}
/*#777============================2024 April 13==========================*/
/*Цветное <div id="header"> в aplication.html.erb   */
*{
  box-sizing: border-box;
}
#header{
  background-color: #aaf0d1; //магическая мята
  border-bottom: 1px solid gray; 
  text-align: center;
}
			/*top_menu    3 levels menu */
#top_menu{
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;  
  position: relative;
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  transition: background-color 0.25s, color 0.15s;
}
#top_menu > li > a:hover{
  color: white;
  background-color: #a7fc00; // весенний бутон  
}
#top_menu > li:hover > ul a{
  opacity: 1;
}
#top_menu > li:hover > ul li{
  height: 40px;
  opacity: 1;
}

		/*  .inner_menu    */
.inner_menu{
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  background-color: #aaf0d1;
}


.inner_menu > li{
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.4s;
}
.inner_menu > li > a{
  width: 100%;
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  height: inherit;
  overflow: hidden;
  opacity: 0;
  transition: height 0.4s, opacity 0.5s;
}
.inner_menu > li > a:hover{
  color: white;
  background-color: #a7fc00; 
}

/*====================April 14  */

#top_menu > li > .inner_menu > li > .inner_submenu {
 display: none;
 position: absolute;
  top: 0%;
  left: -200px;
 margin-left: 10px; /* Добавить отступ слева для третьего уровня меню */
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  background-color: #aaf0d1;
}





#top_menu > li > .inner_menu > li:hover > .inner_submenu {
  display: block; /* Показ подменю третьего уровня при наведении на пункт "Отремонтируем" */
  }
#top_menu > li:hover > .inner_menu > li {
  height: 40px; /* Фиксировать высоту пунктов меню второго уровня при наведении на пункт "Услуги" */
  opacity: 1; /* Показать пункты меню второго уровня при наведении на пункт "Услуги" */
}

#top_menu > li > .inner_menu > li > .inner_submenu > li:hover {
  background-color: #a7fc00; /* Изменить цвет фона при наведении на пункт подменю третьего уровня */
} 











footer {
  margin-top: 85px;
  padding-top: 10px;
  border-top: 1px solid $gray-medium-light;
  color: red;  /*$gray-light;*/
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.main-menu{
  width:500px;
  height:50px;
 // background-color:#444;
  display:flex;
  list-style:none;
  font-family:arial;
  color:green;  //#eee;
  justify-content: space-around;
  margin:auto;
}
.main-menu > .main-list{
  line-height:50px;
  width:100%;
  text-align:center;
  cursor:pointer;
}
.main-menu > .main-list:hover{
  background-color:#eee;
  color:#555;
}
.main-menu > .main-list > .second-menu{
  display:none;
  list-style:none;
}
.main-menu > .main-list:hover > .second-menu{
  display:block;
}
.main-menu > .main-list > .second-menu > .second-list:hover{
  background-color:#ddd;
}
.main-menu > .main-list > .second-menu > .second-list{
  height:50px;
  background-color:#eee;
}
.main-menu > .main-list > .second-menu > .second-list > .third-menu{
  display:none;
  margin-left:100%;
  margin-top:-50px;
  list-style:none;
  color:#eee;
}
.main-menu > .main-list > .second-menu > .second-list > .third-menu > .third-list{
  text-align:center;
  width: 150px;
  background-color:#777;
}
.main-menu > .main-list > .second-menu > .second-list > .third-menu > .third-list:hover{
  background-color:#566
}
.main-menu > .main-list > .second-menu > .second-list:hover > .third-menu{
  display:block;
}







/*============================2024 April 10==========================*/
/* universal background-color: Gainsboro blue;  blue  yellow*/


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: left;   /*center*/
  h1 {
    margin-bottom: 10px;
  }

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

		/*
h1 {
  font-size: 4em; 
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;  
  font-size: 100%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: blue; 
}
		center*/
h2 {
color: red;
  font-size: 1.6em;
  letter-spacing: -1px;
margin-top: 8px;
  margin-bottom: 10px;

  text-align: left;
  font-weight: normal;
  /*color: $gray-light; */
}

h5 {
  font-size: 0.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
color: $gray-light;
  /*color: $gray-light; */
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

text-align: justify; /* Выравнивание по ширине */
    color: green; /* Зеленый цвет текста */
}


/* header 

	#logo {
	  float: left;
	  margin-right: 10px;
	  font-size: 1.7em;
	  color: white;
	  text-transform: uppercase;
	  letter-spacing: -1px;
	  padding-top: 9px;
	  font-weight: bold;
	  &:hover {
	    color: white;
	    text-decoration: none;
	  }
	}    */

/* footer 

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
			  a {
			    color: $gray;
					    &:hover {
					      color: $gray-darker;
					    }
   			    }
			  small {
			    float: left;
			  }
				  ul {
				    float: right;
				    list-style: none;
						    li {
						      float: left;
						      margin-left: 15px;
						    }
				     }
                              }

*/

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* .gravatar {
  float: left;
  margin-right: 10px;
}  */

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
 background-color: transparent;
}

.button:hover {
  /* Белый фон при наведении курсора */
  background-color: #FFFFFF;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
	  li {
	    padding: 10px 0;
	    border-top: 1px solid #e8e8e8;
	  }
	  .user {
	    margin-top: 5em;
	    padding-top: 0;
	        }
	  .content {
	    display: block;
	    margin-left: 60px;
	    img {
	      display: block;
	      padding: 5px 0;
	    }
	  }
	  .timestamp {
	    color: $gray-light;
	    display: block;
	    margin-left: 60px;
	  }
	  .gravatar {
	    float: left;
	    margin-right: 10px;
	    margin-top: 5px;
	  }
	}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  	}

 .container 
 /*div class="container" */
{
  padding: 20px;
 
  /* Для наглядности */
  color: white;
  background: black;
  width: 600px;
  font-size: 40px;
  /* Равен размеру шрифта, но отступ до следующей строки есть сверху и снизу. Можно ли как-то сделать только снизу? */
 line-height: 20px;
}
}
