
<!--#Листинг 5.11: Партиал для подвала сайта. app/views/layouts/_footer.html.erb -->
 <footer class="footer">    
   <small></small>
   <h2>Footer The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="https://www.michaelhartl.com/">Michael Hartl</a>  </h2>
  
  <nav>
    <ul>
       <li><%#= link_to "basa",   basa_path %></li>


	<li><%#= link_to "tagclass",   tagclass_path %></li>
	<li><%#= link_to "custome",   custome_path %></li>

<li><%#= link_to "imgfloat",   imgfloat_path %></li>

<li><%#= link_to "linia",   linia_path %></li>

	<li><%#= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
